* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* CONTENITORE PRINCIPALE */
.container {
  width: 90%;
  max-width: 900px;
}

.container img {
  width: 200px;
}

.logo {
  font-weight: bold;
  letter-spacing: 2px;
}

h1 {
  margin: 60px 0 40px;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

#risposte {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

button {
  width: 300px;
  height: 80px;
  padding: 0 20px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button:hover {
  background: linear-gradient(135deg, #ff00c8, #ff4dff);
  border-color: transparent;
}

#contatore {
  margin-top: 60px;
  text-align: center;
  letter-spacing: 2px;
}

#contatore p {
  display: inline;
}

#contatore .numero-colorato {
  color: #ff00c8;
}

#risultato{
  display: none;
}
/* TIMER POSIZIONE */
.timer-wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
}

/* CONTENITORE TIMER */
#timer-container {
  position: relative;
  width: 100px;
  height: 100px;
  background: transparent;
}

/* SVG TIMER */
.timer-svg {
  transform: rotate(90deg) scaleX(-1);
  width: 100%;
  height: 100%;
  background: transparent;
}

/* CERCHIO DI SFONDO (TRASPARENTE) */
.timer-background {
  fill: none;
  stroke: rgba(255, 255, 255, 0.2);
  stroke-width: 10;
}

/* CERCHIO CHE SI CONSUMA */
#timer-progress {
  fill: none;
  stroke: #00ffff;
  stroke-width: 10;
  stroke-dasharray: 283;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear, stroke 0.3s ease;
}

/* URGENTE */
.timer-urgent {
  stroke: #ff4444 !important;
}

/* TESTO CENTRALE */
#timer-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

/* NUMERO */
#seconds {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
}

/* LABEL */
.label {
  font-size: 0.4rem;
  text-transform: uppercase;
}
