@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: white;
  background: url(../assets/bg.jpg) no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay {
  background-image: url(assets/bg.jpg);
  padding: 120px;
  border-radius: 8px;
  width: 700px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}
.logo {
  width: 160px;
  margin-bottom: 40px;
}
h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 30px;
}
h1 span {
  font-weight: 700;
  color: white;
}
.instructions h2 {
  color: #c2128d;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.instructions p {
  color: #ddd;
  font-size: 0.95rem;
  line-height: 1.5;
  margin-bottom: 20px;
}
.instructions ul {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 30px;
  color: #ddd;
}
.checkbox-container {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  
}

#proceed-btn {
  background-color: #00fcef;
  color: #091334;
  font-weight: 700;
  font-size: 1rem;
  padding: 15px 40px;
  transition: background-color 0.3s;
  margin-left: 150px;
}
#proceed-btn:hover {
  background-color: #00ffff;
  box-shadow: 0 0 40px #00fcef;
}



